@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
:root{
    --logo-color:#1190FF;
    --table-header-bg-color:#E0E0E0;
}
.more{
    color:var(--logo-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}
.fa-magnifying-glass{
   
    color:var(--table-header-bg-color)
}
.datepicker{
    padding:0px;
}
h5{
    color:var(--logo-color);
    font-weight: bold;
    margin-top: 3px;
    
}
.header-table{
    display: flex;
    justify-content: flex-start;  
}

.body-table{
   background-color: #f5f5f5;
   padding:20px;
}
.btn{
    color:#fff;
    background: var(--logo-color);
    width:100%;  
}

table thead {
    background-color:var(--table-header-bg-color)
   
}

table tbody {
    background: #fff;
}

.dt-search {
display: none;
}
.dt-length{
    display: none;
}

